table{
    border:solid;
    border-collapse: collapse;
}
td{
    text-align: center;
    padding:0;
    margin:0;
    width: 52px;
    height: 52px;
}
th{
    border:solid;
}

img{
    width:40px;
    height:40px;
    margin:0;
    padding:0;
    padding-top:2px;
}


#tura {
    color:blue;
    font-size: 200%;
}

#wygrana{
    text-align: center;
    font-size: 200%;
}

@media screen and (max-width:480px){
    
    td{
        text-align: center;
        padding:0;
        margin:0;
        width: 30px;
        height: 30px;
    }

    img{
        width:18px;
        height:18px;
        margin:0;
        padding:0;
        padding-top:2px;
    }
}
